body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-scroll {
  overflow-y: auto;
  max-height: 80vh;
  padding-right: 6px;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}


@keyframes scan {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.animate-scan {
  animation: scan 1.6s linear infinite;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,
      transparent,
      #22c55e,
      transparent);
  box-shadow: 0 0 8px #22c55e, 0 0 20px #22c55e;
}